body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

.form-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Adicionado */
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container label,
.form-container input,
.form-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049;
}

.form-container h3,
.form-container p {
    margin: 10px 0;
    text-align: left; /* Ajustado para alinhamento à esquerda */
}
